{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhisperZone</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}">
</head>

<body>
    <!--Check if user is authenticated-->
    {% if user.is_authenticated %}
    <div class="hero">
        <div class="navbar">
            <div class="logo">Welcome <span>{{user.username}}</span>
            </div>

            <div class="auth-buttons">
                <a href="logout" class="login-btn">Log Out</a>
            </div>
        </div>

        <div class="hero-content">
            <h1><span>WhisperZone</span></h1>
            <p>Your place for anonymous and honest conversations.</p>
            <div class="cta-buttons">
                <h2>
                    <a href="/profile/{{user.username}}">
                        <i class="fas fa-user"></i>
                    </a>
                </h2>
                <h2>
                    <a href="create_poll">
                        <i class="fas fa-poll"></i>
                    </a>
                </h2>
            </div>

            <!--Form to generate Link for Secrete message-->
            <form action="" method="POST">
                {% csrf_token %}
                <div class="cta-buttons">
                    <input type="hidden" name="OwnerUsername" value="{{user.username}}">
                    <button type="submit" class="start-btn"><i class="fas fa-link"></i></button>
                    <a href="/view_messages" class="start-btn"><i class="far fa-message"></i></a>
                    <a href="/poll/{{user.username}}" class="start-btn">
                        <i class="fas fa-chart-bar"></i> <i class="fas fa-eye"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>


    <!--Display welcome and log in page if user is not authenticated-->
    {% else %}
    <div class="hero">
        <div class="navbar">
            <div class="logo">WhisperZone</div>

            <div class="auth-buttons">
                <a href="login" class="login-btn">Log In</a>
            </div>
        </div>

        <div class="hero-content">
            <h1>Welcome to <span>WhisperZone</span></h1>
            <p>Your place for anonymous and honest conversations.</p>
            <marquee behavior="" direction="ltr">
                <p style="color:#FFD700;">Let your friends send you a secret message, who knows you might discover a
                    secret crush</p>
            </marquee>
            <div class="cta-buttons">
                <a href="register" class="start-btn">Get Started</a>
                <a href="" class="learn-more-btn">Learn More</a>
            </div>
            <div class="footer">
                <p>Made with ❤️ by <strong>Emmanuel Oluyemi (Coding Whiz)</strong></p>
                <div class="social-links">
                    <a href="https://github.com/codingwhiz-BackendDev" target="_blank" aria-label="GitHub">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="icon">
                    </a>
                    <a href="https://www.linkedin.com/in/emmanuel-oluyemi-9116a4300/" target="_blank"
                        aria-label="LinkedIn">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" class="icon">
                    </a>
                    <a href="https://your-portfolio-url.com" target="_blank" aria-label="Portfolio">
                        <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="User" class="icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>