{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - WhisperZone</title>
    <link rel="stylesheet" href="{% static 'other.css' %}">
    <link rel="stylesheet" href="{% static 'notification.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}">
</head>

<body>
    <div class="container">
        {% for message in messages %}
        <div id="notification" class="notification">
            <span class="icon"><i class="fas fa-check-circle"></i></span>
            <span class="message">{{message}}</span>
            <button class="close-btn">&times;</button>
        </div>
        {% endfor %}
        <!-- Logo/Brand Section -->
        <div class="logo">
            <h1>WhisperZone</h1>
        </div>

        <!-- Welcome Text -->
        <div class="welcome-text">
            <h2>Log In</h2>
        </div>

        <!-- Registration Form -->
        <form action="" method="POST" class="form-container">
            {% csrf_token %}
            <!-- Username Field -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Create a password" required>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn-primary">Login</button>
        </form>

        <div class="google">
            <p>Or login with</p>
            <div class="googleBody">
                <a href="http://127.0.0.1:8000/accounts/google/login/">
                    <i class="fab fa-google"></i>
                    <span>Sign in with Google</span>
                </a>

            </div>
        </div>


        <!-- Already Have an Account? -->
        <div class="alt-option">
            <p>Don't have an account? <a href="register">Register</a></p>
            <p>Forgot password? <a href="forgot_password">Reset here</a></p>
        </div>
    </div>
    <script src="{% static 'notification.js'%}"></script>
</body>

</html>