{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message - WhisperZone</title>
    <link rel="stylesheet" href="{% static 'other.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <div class="container">
        {% for message in messages %}
        <div class="alert warning">
            <p>{{message}}</p>
        </div>
        {% endfor %}

        <div class="logo">
            <h1>WhisperZone</h1>
        </div>

        <!-- Welcome Text -->
        <div class="welcome-text">
            <div class="profile-container">
                <h2>Send Anonymous Message to {{user_profile.profile_user}}</h2>
                <div class="profile-pic">
                    <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture">
                </div>
            </div>
        </div>


        <!-- Registration Form -->
        <form action="" method="POST" class="form-container">
            {% csrf_token %}

            <!-- Textarea Field -->
            <div class="form-group" style="display: flex;">
                <textarea id="message" name="message" placeholder="Enter your message" required></textarea>
                <button type="button" id="toggle"><i class="fas fa-dice"></i></button>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn-primary">Send Message</button>
        </form>
    </div>

    <script>
        let message = document.getElementById('message');
        toggle = document.getElementById('toggle')

        suggestions = ['How old are you', 'who is your crush',
            'what\'s your favourite bible verse?', 'You\'re so cool', 'Send funds abeg🤲',
            'I\'m secretly a ninja', 'I know a secret about you', 'I\'m secretly a superhero',
            'Aarghhh, guess who i am', 'Biggest reg flags in a guy?', 'Biggest reg flags in a lady?',
            'everything ok?', 'we should talk more', 'wyd tommorow', 'Guess who i am', 'favourite movie',
            'do you have any cute friend for me lmao', 'how much do you love God?',
            'worst pickup line you\'ve ever heard?', 'Is WhisperZone the best app tho :)',
            'do you snore?', 'best thing you\'re greatful to God for',
            'the longest time you\'ve gone without showering', 'i love uuu!!'
        ]

        toggle.addEventListener('click', () => {

            random_suggestion = Math.floor(Math.random() * suggestions.length)

            message.value = suggestions[random_suggestion];
            console.log(message.value)
        })

    </script>
</body>

</html>