{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewSecretLink - WhisperZone</title>
    <link rel="stylesheet" href="{% static 'other.css' %}">
</head>

<body>
    <div class="container">
        <!-- Logo/Brand Section -->
        <div class="logo">
            <h1>WhisperZone</h1>
        </div>

        <!-- Welcome Text -->
        <div class="welcome-text">
            <h2>View Anonymous Link</h2>
        </div>
        <!-- Textarea Field -->
        <div class="form-group">
            <input type="hidden" id="username" value="{{user.username}}">
            <textarea id="locationUrl" readonly name="locationUrl"></textarea>
        </div>

        <button type="button" onclick="copyUrl()" class="btn-primary">Copy Link</button>
        </form>
        <button type="button" onclick="SendToWhatsapp()" class="btn-primary">Share on WhatsApp</button>
    </div>

    <script>
        const username = document.getElementById('username').value
        const locationUrl = document.getElementById('locationUrl')
        const Origin = window.location.origin;


        function LocationLink() {
            locationUrl.value = Origin + '/send_message/' + username;
        }
        LocationLink()


        function copyUrl() {
            const locationUrl = document.getElementById('locationUrl')
            locationUrl.select()
            locationUrl.setSelectionRange(0, 99999)
            document.execCommand("copy")
            alert("Copied")
        }


        function SendToWhatsapp() {
            url = "https://wa.me/?text=" + Origin + '/send_message/' + username;
            window.location.href = url
            console.log(url)
        }
    </script>
</body>

</html>